@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
 
.MMM-Astrology {
	width: 75%;
}
 
.MMM-Astrology .content { 
  background-position: 11px 0;
  background-repeat: no-repeat;
  color: #fe0127;
}
.MMM-Astrology .title {
	font-family: 'Titillium Web', sans-serif;
	color: #d8d86d; 
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	line-height: 80%;
}
.MMM-Astrology .title_image {
	text-align: right;
}

.MMM-Astrology .wrapper{
	text-align: justify;
    /* background: var(--backg_transp_modules1); */
}

.MMM-Astrology .desc {
	font-family: 'Titillium Web', sans-serif; 
	font-size: 14px;
    line-height: 90%;
	text-align: left;
  padding-bottom: 15px;
}
h3:first-letter {
    text-transform:capitalize;
}
.img {
	
	width: 3%;
	height: 3%;
}
